@media (max-width: 1199px) {
  .header_right ul:first-child {
    margin-left: 25px;
    margin-right: 25px;
  }
  .slider_card {
    width: 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
  }
  .categories_item .image {
    width: 180px;
    min-width: 180px;
  }
  .categories_item .image img {
    width: 180px;
    height: 246px;
  }
  .categories_item_text .button {
    width: 100%;
    margin: 27px 0 0px 0;
  }
  .categories_item_text .tt {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 5px;
  }
  .categories_item_text p {
    margin-bottom: 5px;
    line-height: 20px;
    min-height: unset;
    min-height: 80px;
  }
  .categories_text p {
    margin-top: 10px;
    font-size: 18px;
    line-height: 23px;
  }
  .benefit_item_text br {
    display: none;
  }
  .benefit_item_text {
    font-size: 22px;
  }
  .mission {
    background-position: -650px top;
  }
  .contacts_bottom_title {
    font-size: 20px;
  }
  .contacts_bottom .button {
    width: 195px;
  }
  .contacts_social {
    width: 100px;
  }
  .news_block_image {
    width: 180px;
    min-width: 180px;
  }
  .news_block_text p {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 10px;
  }
  .news_name {
    margin-top: 0;
  }
  .blog .news_block_image {
    width: 250px;
    min-width: 250px;
  }
  .blog .news_block_item {
    height: unset;
    -ms-align-items: center;
    align-items: center;
  }
  .blog .news_block_text p {
    padding-right: 0px;
  }
  .blog .news_block_text {
    padding-top: 5px;
    padding-bottom: 10px;
  }
  .services_block_title {
    margin-bottom: 15px;
  }
  .popup .image {
    width: 300px;
    min-width: 300px;
  }
  .popup_text {
    height: 345px;
    padding: 25px 20px 35px 20px;
  }
  .popup_title {
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 15px;
  }
  .popup_subtitle {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 7px;
  }
  .popup_form .input {
    margin-bottom: 5px;
  }
  .fancybox-slide--html .fancybox-close-small {
    right: 5px;
    top: 10px;
  }
  .popup .check,
  .popup .button {
    margin-top: 18px;
  }
  .menu_item_inner div {
    margin-left: 15px;
  }
  .blog_inner-img-wrapp img {
    max-width: 300px;
    width: 100%;
  }
  .blog-page .blog_inner .blog_inner-wrapp p {
    padding: 0 20px;
  }
  .price-page .info-header .info-header-tab {
    font-size: 14px;
  }
}

@media (max-width: 999px) {
  .price-page table tr th {
    font-size: 13px;
  }
  .price-page table tr td,
  .price-page .filter_inner li {
    font-size: 12px;
  }
  .header .page-header_btn {
    display: none;
  }
}

@media (max-width: 991px) {
  .price-page .info-header {
    display: none;
  }
  .price-page .contacts-img {
    margin: 0 -15px;
  }
  * {
    -webkit-tap-highlight-color: transparent;
  }

  .header_bottom .container {
    height: calc(65vh - 62px);
    padding-bottom: 40px;
  }
  .header_right ul:first-child {
    position: absolute;
    top: 62px;
    left: 0px;
    margin: 0;
    z-index: 10000;
    background: #07569e;
    padding: 20px;
    display: block;
    height: calc(100vh - 62px);
    display: none;
    overflow-y: auto;
  }
  .header_right ul:first-child li {
    margin-bottom: 25px;
  }
  .header_right ul:first-child li:last-child {
    margin-bottom: 0px;
  }
  .header_right ul:first-child a {
    font-size: 24px;
    line-height: 28px;
  }
  .header_right {
    width: unset;
    margin: 0 auto;
  }
  .header_menu .container {
    height: 62px;
  }
  .burger {
    display: block;
    width: 30px;
    height: 12px;
    background: url(../images/burger.svg) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
  }
  .mobile_logo {
    display: block;
    min-width: 32px;
    width: 32px;
  }
  .mobile_logo img {
    display: block;
    width: 32px;
  }
  .logo {
    display: none;
  }
  header h1,
  .header_bottom h1 {
    font-size: 32px;
    line-height: 42px;
  }
  .tobottom {
    width: 22px;
    margin-left: -11px;
    bottom: 35px;
  }
  .special {
    padding: 30px 0 90px 0;
  }
  h2 {
    font-size: 30px;
    line-height: 39px;
    margin-bottom: 30px;
  }
  .special_title_wrapper {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
  }
  .slider_controls {
    width: 100%;
  }
  .special h2 {
    margin-bottom: 30px;
  }
  .special_title_wrapper {
    margin-bottom: 22px;
  }
  .slider_counts {
    font-size: 18px;
    line-height: 18px;
  }
  .slider_prev,
  .slider_next,
  .slider_prev svg,
  .slider_next svg {
    width: 16px;
    height: 22px;
  }
  .slider_card {
    margin: 0 auto;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    margin-bottom: 30px;
    padding: 11% 20px 0 20px;
  }
  .card_top img {
    width: 33px;
    margin-right: 15px;
    min-width: 33px;
  }
  .card_top span {
    font-size: 14px;
    line-height: 16px;
  }
  .card_price {
    margin-top: 50px;
    font-size: 30px;
  }
  .card_price span {
    font-size: 50px;
  }
  .slider_right_tt {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 0px;
  }
  .slider_right p {
    margin-top: 0px;
    font-size: 18px;
    line-height: 27px;
  }
  .slider_right .button {
    margin-top: 30px;
    width: 100%;
  }
  .bx-wrapper .bx-pager.bx-default-pager a {
    width: 12px;
    height: 12px;
    margin: 0 16px;
  }
  .bx-wrapper .bx-pager,
  .bx-wrapper .bx-controls-auto {
    bottom: -50px;
  }
  .categories {
    padding-top: 50px;
  }
  .categories h2 {
    font-size: 30px;
    line-height: 39px;
    margin-bottom: 36px;
  }
  .categories_item {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    padding-bottom: 38px;
    margin-bottom: 32px !important;
  }
  .categories_item .image {
    width: 100%;
    min-width: 100%;
    margin-bottom: 21px;
  }
  .categories_item .image img {
    width: 100%;
    height: 100%;
  }
  /* .categories_item .image img {
    display: none;
  } */
  .categories_item .image img.mobile_img {
    display: block;
    width: 100%;
  }
  .categories_item_text {
    padding: 0 20px;
  }
  .categories_item_text .tt {
    text-align: center;
    margin-bottom: 13px;
  }
  .categories_item_text p {
    font-size: 18px;
    line-height: 29px;
    min-height: unset;
    margin-bottom: 27px;
  }
  .categories_item_text .button {
    font-size: 24px;
    height: 50px;
  }
  .benefits {
    padding-top: 53px;
    padding-bottom: 8px;
  }
  .benefits h2 {
    margin-bottom: 26px;
  }
  .benefits_item {
    margin-bottom: 40px;
  }
  .benefit_item_text {
    margin-top: 18px;
    line-height: 27px;
    font-size: 18px;
  }
  .mission {
    height: 290px;
    background-position: center;
    padding-top: 52px;
  }
  .mission h2 {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 42px;
  }
  .mission p {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 17px;
  }
  .mission p:nth-child(2) {
    width: 200px;
  }
  .mission p:nth-child(3) {
    width: 300px;
    max-width: 100%;
  }
  .mission p br {
    display: none;
  }
  .contacts {
    padding-top: 64px;
    padding-bottom: 55px;
  }
  .contacts h2 {
    font-size: 30px;
    line-height: 29px;
    margin-bottom: 15px;
  }
  .contacts_link,
  .contacts_link a {
    margin-bottom: 3px;
  }
  .contacts_link:nth-child(3) {
    font-size: 14px;
    line-height: 28px;
  }
  .map {
    margin-top: 15px;
    height: 235px;
    margin-left: -20px;
    margin-right: -20px;
  }
  .map > img {
    width: 100%;
    height: 100%;
  }
  .contacts_right {
    padding-top: 41px;
  }
  .contacts_right_text {
    height: unset;
    font-size: 18px;
    line-height: 25px;
    padding-right: 0;
    margin-bottom: 30px;
  }
  .check_wrapper {
    -webkit-flex-direction: column !important;
    -moz-flex-direction: column !important;
    -ms-flex-direction: column !important;
    -o-flex-direction: column !important;
    flex-direction: column !important;
    -ms-align-items: flex-start !important;
    align-items: flex-start !important;
  }
  .contacts_form .button {
    width: 100%;
    margin: 40px 0 0 0;
  }
  footer {
    padding: 20px 0 64px 0;
  }
  .footer_logo {
    display: none;
  }
  .footer_logo_mobile {
    display: block;
    width: 67px;
    margin-bottom: 40px;
  }
  .footer_menu.desc {
    display: none;
  }
  .footer_menu li a {
    font-size: 10px;
  }
  footer h3 {
    font-size: 14px;
  }
  .footer_right .row {
    width: calc(100% + 32px);
  }
  .footer_contacts {
    margin-right: 16px;
    max-width: 36%;
  }
  .footer_form {
    width: 135px;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  .social_block {
    margin-bottom: 0px;
    margin-top: 7px;
  }
  footer {
    position: relative;
  }
  footer .addr {
    margin-bottom: 10px;
  }
  .inp {
    font-size: 10px;
    padding-left: 7px;
  }
  .totop {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 126px;
    margin-right: 16px;
    font-size: 14px;
    text-decoration: none;
    color: #f2f2f2;
    -ms-align-items: center;
    align-items: center;
    line-height: 28px;
    position: absolute;
    top: 20px;
    right: 0px;
    z-index: 100;
    max-width: 36%;
  }
  .totop img {
    margin-left: 10px;
  }
  footer .row {
    position: relative;
  }
  .categories_text p {
    font-size: 18px;
    line-height: 29px;
  }
  .categories_text p br {
    display: none;
  }
  .order_link {
    display: block;
    margin-top: 55px;
  }
  .header_right .order_link a {
    width: 100%;
    background: #ffffff;
    border-radius: 32px;
    height: 44px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    color: #07569e !important;
    font: 18px "Five Years Later", sans-serif !important;
  }
  body.fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
  }
  .header_right ul:first-child .close {
    position: fixed;
    top: 84px;
    right: 20px;
    background: url(../images/close.svg) no-repeat center;
    width: 22px;
    height: 22px;
  }
  .benefit_icon img {
    width: 60px;
    height: 60px;
  }
  .breadcrumbs {
    margin-bottom: 20px;
  }
  .inner_page {
    padding: 40px 0 90px 0;
  }
  .inner_page h2 {
    font-size: 32px;
    line-height: 31px;
    margin-bottom: 32px;
  }
  .contacts_top .row {
    -webkit-flex-direction: column-reverse;
    -moz-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    -o-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .contacts_block_item .tt {
    margin-bottom: 6px;
  }
  .contacts_block_item {
    margin-bottom: 10px;
  }
  .contacts_block {
    -webkit-flex-direction: column-reverse;
    -moz-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    -o-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .contacts_block_item .content,
  .contacts_block_item .content a {
    font-size: 14px;
  }
  .contacts_block_item:last-child {
    margin-bottom: 10px;
  }
  .contacts_block_item:first-child {
    margin-bottom: 0px;
  }
  .contacts_social {
    width: 100%;
    display: block;
    position: static;
    margin-top: 30px;
  }
  .contacts_social a {
    display: inline-block;
    margin-right: 25px;
  }
  .contacts_top .map {
    height: 235px;
    margin-top: 60px;
  }
  .contacts_top {
    margin-bottom: 40px;
  }
  .contacts_bottom_title {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 25px;
  }
  .contacts_bottom .input {
    margin-bottom: 5px;
  }
  .contacts_bottom textarea.input {
    margin-top: 30px;
    height: 135px;
    margin-bottom: 25px;
  }
  .contacts_bottom .button {
    margin-top: 30px;
  }
  .news_block_item {
    margin-bottom: 32px;
  }
  .news_block {
    margin-bottom: -32px;
    padding-bottom: 15px;
  }
  .news_block_item {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
  }
  .news_block_image {
    margin: 0 0 20px 0;
    position: relative;
    overflow: hidden;
    padding-top: 65%;
    width: 100%;
    min-width: 100%;
  }
  .news_block_image img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
  }
  .news_block_text {
    padding: 0 18px 25px 18px;
  }
  .news_name {
    margin-top: 6px;
    margin-bottom: 14px;
    height: unset;
    font-size: 18px;
    line-height: 23px;
  }
  .news_block_text p {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 30px;
  }
  .blog {
    display: block;
  }
  .blog .filter {
    width: 100%;
    min-width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .filter_inner {
    margin-bottom: 15px;
  }
  .filter_search .search_input {
    height: 44px;
  }
  .filter_inner {
    padding: 8px 16px;
  }
  .filter_title {
    color: #07569e;
  }
  .filter_title + ul {
    display: none;
  }
  .blog .news_block_image {
    width: 100%;
    min-width: 100%;
    margin-bottom: 0px;
  }
  .filter_search .btn {
    top: 15px;
    right: 16px;
  }
  .blog .news_block_text {
    padding-top: 12px;
    padding-bottom: 25px;
  }
  .mobile_non_flex {
    -webkit-flex-direction: column-reverse;
    -moz-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    -o-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .blog .news_date {
    margin-left: unset;
  }
  .blog_inner {
    margin-bottom: -30px;
  }
  .filter li ul {
    padding-bottom: 10px;
  }
  h2 + .tabs {
    margin-top: 0;
  }
  .tabs {
    margin-bottom: 32px;
  }
  .horizontal_filter .row {
    margin-left: -16px;
    margin-right: -16px;
  }
  .horizontal_filter .col {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 15px;
    padding-right: 16px;
    padding-left: 16px;
  }
  .horizontal_filter .col.btn-col {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .horizontal_filter input.button {
    font-size: 14px;
    margin-top: 12px;
  }
  .horizontal_filter {
    margin-bottom: 25px;
  }
  h3 {
    margin-bottom: 32px;
    font-size: 28px;
    line-height: 26px;
  }
  .services_block_inner p {
    height: unset;
    margin-bottom: 30px;
  }
  .services_blocks {
    margin-bottom: -35px;
  }
  .services_block {
    margin-bottom: 35px;
  }
  .popup .image {
    display: none;
  }
  .popup_text {
    height: unset;
  }
  .fancybox-slide--html .fancybox-close-small {
    top: 20px;
  }
  .popup_text p {
    margin-bottom: 25px;
  }
  .popup_form .input,
  .popup_form .selectric-wrapper {
    margin-bottom: 10px;
  }
  .popup .check {
    margin-top: 8px;
  }
  .top_block {
    padding-top: 32px;
    height: unset;
  }
  .top_block.cafe {
    height: unset;
  }
  .top_block .shadow {
    display: none;
  }
  .top_block.cafe,
  .top_block:before {
    background: none;
  }
  .top_block .breadcrumbs,
  .top_block .breadcrumbs a {
    color: #07569e;
  }
  .top_block .breadcrumbs a {
    background: url(../images/bread_arrow.svg) no-repeat right 8px;
  }
  .top_block .breadcrumbs {
    margin-bottom: 15px;
  }
  .top_block h2 {
    font-size: 32px;
    line-height: 31px;
    margin-bottom: 15px;
    color: #333333;
  }
  .top_block_text {
    width: 100%;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
    margin-bottom: 15px;
  }
  .see_menu {
    color: #07569e;
    font: 18px "Five Years Later", sans-serif;
    line-height: 18px;
  }
  .services {
    padding-top: 80px;
  }
  .mobile_image {
    display: block;
    margin-top: 23px;
  }
  .mobile_image img {
    display: block;
    width: 100%;
  }
  .services {
    background: #f2f2f2;
  }
  .services h2 {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 40px;
  }
  .service_block div {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .service_block p {
    font-size: 14px;
    line-height: 21px;
    padding-right: 10px;
  }
  .service_block {
    margin-bottom: 35px;
  }
  .service_blocks {
    margin-bottom: -35px;
    padding-bottom: 5px;
  }
  .services {
    margin-bottom: 55px;
  }
  .tabs a {
    font-size: 18px;
    line-height: 17px;
  }
  .mb-30 {
    margin-bottom: 23px !important;
  }
  .menu_select {
    margin-bottom: 30px;
    width: 100%;
  }
  .name {
    height: unset;
  }
  .blog_inner-img-wrapp img {
    max-width: 220px;
    width: 100%;
  }
  .tel {
    width: 100%;
    text-align: center;
  }
  footer .tel {
    width: 100%;
    text-align: left;
  }
  .nav_submenu_trigger:hover .active_submenu,
  .nav_submenu_trigger:active .active_submenu {
    position: absolute;
    bottom: -0px;
    left: 10px;
    min-width: 190px;
    height: 100px;
    line-height: 100%;
    padding: 0px;

    background-color: #07569e;
    display: flex !important;
    flex-direction: column;
  }
  .nav_submenu_trigger:hover {
    padding-bottom: 100px;
  }
  .nav_submenu .nav_submenu_link a {
    padding: 0;
    margin: 0;
  }
  .nav_submenu .nav_submenu_item a {
    padding: 0;
    margin: 0;
  }
  .nav_submenu .nav_submenu_item {
    padding: 0;
    margin: 0;
  }

  .popup_success .success_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 20px;
  }
  .popup_success #note {
    font-size: 20px;
  }
  .popup_success .popup_header {
    width: 600px;
    height: auto;
    background-size: cover;
  }
  .header_btn {
    display: block;
    width: 100%;
  }
  .notes {
    font-size: 10px;
  }
  .news-page .other-news {
    display: flex;
    flex-direction: column;
  }
  .news-page .other {
    margin-top: 60px;
    order: 2;
  }
  .page .menu_container {
    width: 100%;
  }
}
@media (min-width: 766px) {
  .slider_card {
    padding-top: 9%;
  }
}
@media (min-width: 992px) {
  .header_right ul:first-child {
    display: -webkit-flex !important;
    display: -moz-flex !important;
    display: -ms-flex !important;
    display: -o-flex !important;
    display: flex !important;
    width: 100%;
  }
  .filter_title + ul {
    display: block !important;
  }
  .notes {
    font-size: 11px;
  }
  .slider_card {
    padding-top: 10%;
  }
}
@media (min-width: 1199px) {
  .slider_card {
    width: 545px;
  }
}
@media (max-width: 767px) {
  .price-page .contacts-img {
    font-size: 24px;
    line-height: 130%;
    min-height: auto;
    height: 200px;
    background-position-y: 50%;
  }
  .price-page .contacts_right {
    max-width: 100%;
    padding-top: 10px;
  }
  .price-page .check_wrapper .button {
    margin-top: 0;
  }
  .price-page .contacts_right_text {
    font-size: 24px;
    line-height: 130%;
    margin-top: 0;
    text-align: center;
  }
  .price-page .contacts .row {
    box-shadow: none;
  }
  .price-page {
    padding-bottom: 0;
  }
  .price-page .filter_inner .info-tabcontent-title {
    font-size: 24px;
    line-height: 152%;
  }
  .price-page .filter_inner img {
    display: inline-block;
    width: 17px;
  }
  .price-page table tr th,
  .price-page table tr td {
    width: 14%;
    font-weight: normal;
    font-size: 12px;
    line-height: 152%;
  }
  .price-page table {
    display: none;
    border-bottom: 0px;
  }
  .price-page .price-title {
    font-size: 18px;
    line-height: 152%;
  }
  .price-page .table-mobile--hidden {
    display: none;
  }
  .price-page .info-tabcontent-inner {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .price-page .filter_inner .info-tabcontent-title {
    margin: 0;
  }
  .price-page .filter_inner .dropdown {
    margin-bottom: 15px;
    border-bottom: none;
  }
  .table-mobile--orenge_line {
    display: none;
  }
  .price-page .dropdown-table-desktop {
    display: none;
  }
  .price-page .filter_inner .table-img--small {
    width: 12px;
  }
  .price-page .table-blue {
    margin-bottom: 10px;
    color: #07569e;
  }

  .price-page .dropdown:nth-child(3) table tr th:first-child {
    width: 25%;
  }
  .price-page .dropdown-table-mobile {
    display: block;
  }
  .price-page .dropdown:nth-child(2) table tr th:first-child,
  .price-page .dropdown:nth-child(2) table tr td:first-child {
    width: 25%;
  }
  .content .button_close {
    background-image: url("../images/popup_close.png");
    cursor: pointer;
  }
  .price-page .filter_inner li {
    padding: 0;
  }
  .notes {
    font-size: 9px;
  }
}
@media (max-width: 500px) {
  .blog-page .filter_search {
    display: none;
  }
  .blog-page .filter_search.filter_search-hide {
    display: block;
  }
  .blog-page .blog_inner h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .blog-page .blog_inner .blog_inner-list p {
    align-items: flex-start;
  }
  .blog-page .blog_inner .blog_inner-list img {
    margin-right: 60px;
  }
  .blog_inner-img-wrapp img {
    max-width: 150px;
  }
  .blog-page .blog_inner .blog_inner-wrapp {
    padding: 24px;
    height: auto;
  }
  .blog_inner-wrapp_socials {
    flex-direction: column;
  }
  .blog_inner-wrapp_socials .blog_socials {
    justify-content: space-between;
  }
  .blog-page .blog_inner .blog_inner-img p {
    font-size: 18px;
  }
  .mission {
    background-position: -200px top;
  }

  .blog-page .blog_inner .details::after {
    bottom: -1px;
  }
  .price-page table tr th,
  .price-page table tr td {
    font-size: 9px;
  }
}
@media (max-width: 400px) {
  .price-page table tr th,
  .price-page table tr td {
    font-size: 7px;
  }
  .card_price {
    font-size: 22px;
  }
  .card_price span {
    font-size: 30px;
  }
}
@media screen and (min-width: 320px) and (max-width: 370px) {
  .page-triathlon .breadcrumb,
  .page-sport-center .breadcrumb {
    margin-left: 9px;
  }
  .page-triathlon .breadcrumb:nth-child(2)::before,
  .page-triathlon .breadcrumb:nth-child(3)::before,
  .page-sport-center .breadcrumb:nth-child(2)::before,
  .page-sport-center .breadcrumb:nth-child(3)::before {
    left: -10px;
  }
}
